
.btnshadow{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);;
}
.greenball{
position: relative;
}
.greenballavailable{
position:absolute;
left: 95%;
top:-20px
}
.greenball1{
    position: relative;
    }
    
    .greenballavailable1{
    position:absolute;
    left: 250%;
    top:-20px
    }

.searchList li {
 padding-top: 15px;
 padding-left: 56px;
     padding-bottom: 15px;
 
}
/* .btn{
    &:hover + .box {
        transform: translate(100px, 0);
    }
}

.box {
    width: 100px;
    height: 100px;
    transition: transform 330ms ease-in-out;
} */

.popup-overlay{
    background-color: rgb(109, 108, 109);
     
}
.popup-content{
    width: 63% !important;
}
.ex1 {

    padding: inherit;
    justify-items: center;
    background-color: rgb(255, 255, 255);
    height:500px;
    width: 100%;
    overflow-y: scroll;
  }

  .editAccess_flow{
      
    padding: inherit;
    justify-items: center;
     height: 500px;
    width:800px;
    overflow-x: scroll;
  }

   .disabledclass{
        opacity: 0.2;
        cursor: not-allowed;
   }

   .fileSheet{
    opacity: 0;
    cursor: pointer !important;
    height: 40px;
   }
   .shhetText{
       font-size: 14px;
       margin-left: -94px;
       cursor: pointer;
       color: #8F9BBA;
       margin-top: 3px;
   }

   .productiveSeacrhch{
       /* height: 200px; */
       overflow-y: scroll;
   }

   .gang_product_input:focus-visible{
    outline: none;
   }